/**{*/
/*    border: solid 1px black;*/
/*}*/
a{
    text-decoration: none;
}

/*--------------TOP NAV------------*/

img.logo{
    height: 50px;
    width: auto;
}

header.top-nav{
    background-color: #111417;
}

.dropdown-large {
    margin-left: -5vw;
    min-width: 85vw;
}

#navbar-menu>div{
    padding: 0;
}

.dropdown li {
    list-style-type: none;
}
.dropdown li a{
    text-decoration: none;
    color: black;
    margin-top: 1em;
    margin-left: 2rem;
}

.dropdown li a::before{
    content: ' • ';
}

.dropdown li a.h5::before{
    content: none;
}

.dropdown li a.h5{
    list-style-type: none;
}

header a.dropdown-toggle{
    color: #ed8e00;
}
header a.dropdown-toggle:hover{
    color: #ffb259;
}

button.btn-orange{
    background-color: #ed8e00;
    color: #111417;
}

button.btn-orange:hover{
    background-color: #ffb259;
}


@media (max-width: 768px) {
    .dropdown-large {
        min-width: 92vw;
        margin-left: 0;
    }

    header div>div>button{
        min-width: 60%;
    }
    .dropdown{
        text-align: center;
    }
}

/*--------------------PRODUCTS LIST*/

p.book-price{
    font-size:1.5em;
}

.book-price::after{
    content: ' €';
}

nav.navbar-toggler{
    color: white;
}

section.product-listing{
    /*background-color: #ed8e00;*/
    /*border-radius: 10px;*/
    border-top: 2px #ed8e00 solid;
    padding: 1em;
    /*filter: drop-shadow(2px 2px 0.2em gray);*/
}

section.product-listing p.description{
    font-size: 0.8em;
    font-weight: normal;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    margin-bottom: 8px;
}

section.product-listing p.author{
    font-size: 0.9em;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-bottom: 8px;
}

section .book-title-listings{
    font-size: 1.2em;
    margin-bottom: 4px;
}
section .book-title-listings>a{
    color: #111417;
}
section .book-title-listings>a:hover{
    text-decoration: underline;
}

/*section img{*/
/*    margin-left: 1em;*/
/*}*/

/*section [class^="col"]{*/
/*    padding: 0;*/
/*}*/


nav.breadcrumb{
    background-color: #ed8e00;
    margin-bottom: 0;
}

li.breadcrumb-item>a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}
li.breadcrumb-item>a:hover {
    color: blue;
}

li.breadcrumb-item.active>a{
    color: blue;
}

button.add-to-shopping-cart{
    font-size: 0.9em;
    padding-bottom: 0;
    /*margin-top: 1rem;*/
    /*filter: drop-shadow(1px 1px 0.2em black);*/

}


/*color: #ed8e00 */
/* #111417 */


/*---------------HOME PAGE PRODUCTS*/
.book-cover{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.product{
    /*line-height: 1em;*/
    /*background-color: ;*/
    padding-bottom: 5px;
}

.product>img{
    /*margin: auto;*/
    display: block;
}


.book-title{
    font-weight: 600;
    margin-top: 5px;
    height: 4.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.book-title>a{
    color: black;
    text-decoration: none;
}

/*.book-title>a:visited{*/
    /*color: #BB4430;*/
/*}*/

.book-title>a:hover{
    text-decoration: underline;
}

.product>.author{
    height: 3em;
    font-size: 0.9em;
}

.book-price{
    font-weight: 500;
    font-size: 1.2em;
}

.notice{
    background-color: #ed8e00;
    border-radius: 5px;
}

h2>a{
    color: #111417;
}

/*---------SIDE MENU--------*/

section.side-menu{
    background-color: #FFF7ED;
}

.form-check input,label{
    cursor: pointer;
}

.check-boxes>div{
    margin: 1em 0;
}

.side-menu ul a{
    text-decoration: none;
    color: #111417;
}
.side-menu ul a:hover{
    text-decoration: underline;
}

.side-menu li{
    list-style-type: none;
}

footer .row, nav .row{
    margin:0;
    padding:0;
}


form .price-filter input{
    max-width: 50%;
}

section.side-menu a:not(.h5)::before{
    content: ' • ';
}

.dropdown a:hover{
    text-decoration: underline;
}

body{
    background-image: url('../img/BG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img.book-photo{
    height: 120px;
    width: auto;
}

