@media (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 720px) {
    #shopping-cart {
        padding: 30px;
    }
}

@media (min-width: 720px) {
    #shopping-cart {
        padding: 50px;
    }
}

body{
    /*background-image: url('../xkabac_xzalabaij_project/wtech-project/public/img/BG.jpg');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.book-image{
    width: auto;
    height: 150px;
}

.block-text section{
    background-color: #ffdea1;
    border-radius: 10px;
}

.logo{
    width: auto;
    height: 50px;
}

.basic-button{
    background-color:#ed8e00;
    border-radius: 50px;
}

.black-basic-button{
    background-color: #111417;
    color: #ed8e00;
    border-radius: 50px;
}

.row{
    margin: 0;
}

.one-row{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    min-height: 1em;
}

header.top-nav{
    background-color: #111417;
}

.dropdown-large {
    margin-left: -5vw;
    min-width: 85vw;
}

#navbar-menu>div{
    padding: 0;
}

.dropdown li {
    list-style-type: none;
}
.dropdown li a{
    text-decoration: none;
    color: black;
    margin-top: 1em;
    margin-left: 2rem;
}

.dropdown li a::before{
    content: ' • ';
}

.dropdown li a.h5::before{
    content: none;
}

.dropdown li a.h5{
    list-style-type: none;
}

header a.dropdown-toggle{
    color: #ed8e00;
}
header a.dropdown-toggle:hover{
    color: #ffb259;
}

button.btn-orange{
    background-color: #ed8e00;
    color: #111417;
}

button.btn-orange:hover{
    background-color: #ffb259;
}


@media (max-width: 768px) {
    .dropdown-large {
        min-width: 92vw;
        margin-left: 0;
    }

    header div>div>button{
        min-width: 60%;
    }
    .dropdown{
        text-align: center;
    }
}

header form{
    margin: 0;
}

.basic-button:hover{
    background-color:#ffb259;
}

.black-basic-button:hover{
    background-color:#ffb259;
}

h2>a{
    text-decoration: none;
    color: #111417;
}

h2>a:hover{
    text-decoration: underline;
    color: #111417;
}
